@r: 50rem;
#app {
  min-height: 100%;
}
.container{
  padding-bottom: 120/@r;
}
#add_activity {
  padding-bottom: 30/@r;
}
.view-icon {
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  width: 32/@r;
}
